#section_job_index{
	.container{
		.row{
			.col-10{
				ul{
					margin-top: 70px;
					.text-none{
						text-decoration: none;
					}
					li{
						.row{
							.col-4{
								.img{
									height: 140px;
									width: 140px;
								}
							}
							.col-8{
								h4{
									color: #0b663e;
								}
								p{
									margin-bottom: 0;
									color: #000;
								}
							}
						}
					}
				}
			}
		}
	}
}

#section_job_form{
	margin-top: 70px;
}
